<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8"/>
    <title>Edit Member Info</title>
    <div th:replace="~{/main/fragments :: head}"></div>
</head>
<body>
<div th:replace="~{/main/fragments :: header}"></div>
<div th:replace="~{/main/fragments :: right-sidebar}"></div>
<div th:replace="~{/main/fragments :: left-sidebar}"></div>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>Edit Profile</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Edit Profile
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#setting" role="tab">Settings</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Setting Tab start -->
                                    <div class="tab-pane fade show active height-100-p" id="setting" role="tabpanel">
                                        <div class="profile-setting">
                                            <form id="updateForm" th:action="@{/members/edit/{idx}(idx=${memberDto.idx})}" th:object="${memberDto}" method="post" onsubmit="return validateForm()">
                                                <ul class="profile-edit-list row">
                                                    <li class="weight-500 col-md-6">
                                                        <h4 class="text-blue h5 mb-20">
                                                            Edit Your Personal Setting
                                                        </h4>
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input class="form-control form-control-lg" type="text" th:field="*{name}"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control form-control-lg" type="email" th:field="*{email}"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Password</label>
                                                            <input class="form-control form-control-lg" type="password" id="pw" th:field="*{pw}"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Password Confirm</label>
                                                            <input class="form-control form-control-lg" type="password" id="pwConfirm"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone Number</label>
                                                            <input class="form-control form-control-lg" type="text" th:field="*{phone}"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <textarea class="form-control" th:field="*{address}"></textarea>
                                                        </div>
                                                        <div class="form-group mb-0">
                                                            <input type="submit" class="btn btn-primary" value="Update Information"/>
                                                        </div>
                                                        <br>
                                                        <div class="form-group mb-0">
                                                            <a href="#" class="btn btn-warning" th:href="@{/members/delete/{idx}(idx=${memberDto.idx})}">Delete</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Setting Tab End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <a href="modal" data-toggle="modal" data-target="#modal" class="edit-avatar">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <img src="/vendors/images/photo1.jpg" alt="" class="avatar-photo"/>
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body pd-5">
                                            <div class="img-container">
                                                <img id="image" src="/vendors/images/photo2.jpg" alt="Picture"/>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Update" class="btn btn-primary"/>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center h5 mb-0" th:text="${memberDto.name}"></h5>
                        <p class="text-center text-muted font-14">[[${memberDto.id}]]</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Contact Information</h5>
                            <ul>
                                <li>
                                    <span>Email Address:</span>
                                    [[${memberDto.email}]]
                                </li>
                                <li>
                                    <span>Phone Number:</span>
                                    [[${memberDto.phone}]]
                                </li>
                                <li>
                                    <span>Address:</span>
                                    [[${memberDto.address}]]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            DeskApp - Bootstrap 4 Admin Template By
            <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
        </div>
    </div>
</div>
<!-- welcome modal start -->
<div class="welcome-modal">
    <button class="welcome-modal-close">
        <i class="bi bi-x-lg"></i>
    </button>
    <iframe class="w-100 border-0" src="https://embed.lottiefiles.com/animation/31548"></iframe>
    <div class="text-center">
        <h3 class="h5 weight-500 text-center mb-2">
            Open source
            <span role="img" aria-label="gratitude">❤️</span>
        </h3>
        <div class="pb-2">
            <a class="github-button" href="https://github.com/dropways/deskapp"
               data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star"
               data-size="large" data-show-count="true"
               aria-label="Star dropways/deskapp dashboard on GitHub">Star</a>
            <a class="github-button" href="https://github.com/dropways/deskapp/fork"
               data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-repo-forked"
               data-size="large" data-show-count="true"
               aria-label="Fork dropways/deskapp dashboard on GitHub">Fork</a>
        </div>
    </div>
    <div class="text-center mb-1">
        <div>
            <a href="https://github.com/dropways/deskapp" target="_blank" class="btn btn-light btn-block btn-sm">
                <span class="text-danger weight-600">STAR US</span>
                <span class="weight-600">ON GITHUB</span>
                <i class="fa fa-github"></i>
            </a>
            <script async defer="defer" src="https://buttons.github.io/buttons.js"></script>
        </div>
        <a href="https://github.com/dropways/deskapp" target="_blank" class="btn btn-success btn-sm mb-0 mb-md-3 w-100">
            DOWNLOAD
            <i class="fa fa-download"></i>
        </a>
        <p class="font-14 text-center mb-1 d-none d-md-block">
            Available in the following technologies:
        </p>
        <div class="d-none d-md-flex justify-content-center h1 mb-0 text-danger">
            <i class="fa fa-html5"></i>
        </div>
    </div>
</div>
<button class="welcome-modal-btn">
    <i class="fa fa-download"></i> Download
</button>
<!-- welcome modal end -->
<!-- js -->
<script src="/vendors/scripts/core.js"></script>
<script src="/vendors/scripts/script.min.js"></script>
<script src="/vendors/scripts/process.js"></script>
<script src="/vendors/scripts/layout-settings.js"></script>
<script src="/src/plugins/cropperjs/dist/cropper.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        var image = document.getElementById("image");
        var cropBoxData;
        var canvasData;
        var cropper;

        $("#modal")
            .on("shown.bs.modal", function () {
                cropper = new Cropper(image, {
                    autoCropArea: 0.5,
                    dragMode: "move",
                    aspectRatio: 3 / 3,
                    restore: false,
                    guides: false,
                    center: false,
                    highlight: false,
                    cropBoxMovable: false,
                    cropBoxResizable: false,
                    toggleDragModeOnDblclick: false,
                    ready: function () {
                        cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                    },
                });
            })
            .on("hidden.bs.modal", function () {
                cropBoxData = cropper.getCropBoxData();
                canvasData = cropper.getCanvasData();
                cropper.destroy();
            });
    });

    function validateForm() {
        var pw = document.getElementById("pw").value;
        var pwConfirm = document.getElementById("pwConfirm").value;
        if (pw !== pwConfirm) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
            style="display: none; visibility: hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
